.TaskDetail {
  animation: fade-in .3s linear;
  position: relative;
}

.taskDetail__segmented {
  color: white;
  margin: 0;
}

.segmented-control {
  border-radius: 8px !important;
}

.segmented-control label::after {
  color: black !important;
}

.taskDetail__sub-heading {
  font-family: 'Source Sans Pro', sans-serif;
  font-size: 1rem;
  font-weight: normal;
  margin: 0;
}

.taskDetail__content {
  margin-top: 0;
  background-color: rgba(0, 0, 0, .3);
  padding: 5px 10px;
  border-radius: 8px;
}

.taskDetail__description {
  margin-top: 0;
}

.taskDetail__title {
  margin-top: 0;
  text-align: center;
  font-weight: bold;
}