.Header-wrapper {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 15;
  background-color: rgba(157, 4, 4, 1);
  backdrop-filter: blur(10px);
  box-shadow: 0 2px 4px 2px rgba(0,0,0,.5);
}

.Header {
  margin: 0 auto;
  width: 100%;
  max-width: 800px;
  padding: .5rem;
}

.header__top-line {
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between;
  align-items: center;
}

.header__logo {
  margin: 0;
  font-size: 1.5rem;
  letter-spacing: .1em;
  text-shadow: 2px 4px 0 rgba(0,0,0,.5);
}

.header__menu-button {
  display: block;
  width: 30px;
  text-align: center;
}

.header__nav {
  height: 0;
  overflow: hidden;
  transition: all .3s ease;
  text-align: center;
}

.header__nav--visible {
  height: 8.5rem;
}

.header__nav-list {
  list-style: none;
  padding: 0;
  display: flex;
  flex-flow: column nowrap;
  text-align: center;
  margin: .5rem 0 0;
}

.header__nav-item {
  display: inline-block;
  padding: .8rem;
  line-height: 1em;
  font-size: 1.2rem;
  border-bottom: 1px solid rgba(100, 100, 100, .6);
}

.header__nav-item a {
  color: white;
  text-decoration: none;
}

.header__logout {
  font-size: 1.2rem;
  color: white;
  margin: 8px auto;
  padding: 0;
  background: transparent;
  border:0;
}